<h1>Un super titre de la mort</h1>
<div class="container-fluid border-bottom">
<p> Cette petite application n'est développée que pour mon usage personnel. Il n'est prévu ni support ni évolution ultérieure.</p>
</div>